/* line 4, stylesheet-rtl.less */
.close {
  float: left;
}
/* line 9, stylesheet-rtl.less */
#offcanvasmenu .megamenu > li {
  float: none!important;
}
/* line 13, stylesheet-rtl.less */
#offcanvasmenu .click-canavs-menu.fa {
  float: left!important;
}
/* line 17, stylesheet-rtl.less */
.product-filter .product-compare .btn-compare {
  float: left;
}
/* line 21, stylesheet-rtl.less */
#topbar .links li {
  float: right;
}
/* line 25, stylesheet-rtl.less */
#topbar .langs-wrapper > li {
  margin-left: 0;
  margin-right: 20px;
}
/* line 32, stylesheet-rtl.less */
#header-main .inner {
  text-align: right;
}
/* line 37, stylesheet-rtl.less */
#header-main .support .media .pull-left {
  margin-left: 10px;
  margin-right: 0;
}
/* line 44, stylesheet-rtl.less */
#header-main #cart .icon-cart {
  margin-left: 10px;
  margin-right: 0;
}
/* line 49, stylesheet-rtl.less */
#header-main #cart .media .pull-left {
  margin-left: 10px;
  margin-right: 0;
}
/* line 54, stylesheet-rtl.less */
#header-main #cart .heading {
  padding-left: 0;
  padding-right: 30px;
}
/* line 58, stylesheet-rtl.less */
#header-main #cart .heading a span {
  margin-right: 0;
  margin-left: 5px;
}
/* line 64, stylesheet-rtl.less */
#header-main #cart .content {
  right: auto;
  left: 17px;
}
/* line 68, stylesheet-rtl.less */
#header-main #cart .dropdown-menu {
  left: 0;
  right: auto;
}
/* line 76, stylesheet-rtl.less */
#search .category_filter {
  border-left: none;
  border-right: 1px solid #dcdcdc;
}
/* line 79, stylesheet-rtl.less */
#search .category_filter span {
  right: inherit;
  left: 0;
}
/* line 84, stylesheet-rtl.less */
#search .button-search {
  right: inherit;
  left: 10px;
}
/* line 89, stylesheet-rtl.less */
.refine-search ul li,
.refine-search ol li {
  float: right;
}
/* line 93, stylesheet-rtl.less */
#topbar .fa {
  margin-left: 5px;
  margin-right: 0;
}
/* line 102, stylesheet-rtl.less */
.pav-megamenu .navbar-nav > li.aligned-right .dropdown-menu {
  right: auto!important;
  left: 0!important;
}
/* line 109, stylesheet-rtl.less */
.pav-megamenu .navbar-nav > li.aligned-left .dropdown-menu {
  right: 0;
  left: auto;
}
/* line 115, stylesheet-rtl.less */
.pav-megamenu .navbar-nav > li.aligned-center .dropdown-menu {
  right: 50%;
}
/* line 121, stylesheet-rtl.less */
.pav-megamenu .product-block .product-meta {
  text-align: right;
}
/* line 130, stylesheet-rtl.less */
#pav-mainnav .navbar-default .navbar-nav > .dropdown > a .caret {
  transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
}
/* line 136, stylesheet-rtl.less */
#pav-mainnav .navbar-default .navbar-nav > .dropdown > a .caret:before {
  right: 0px;
  top: 0px;
}
/* line 145, stylesheet-rtl.less */
#pav-mainnav .navbar-nav > li.first > a span:before {
  left: inherit;
  right: 12px;
}
/* line 149, stylesheet-rtl.less */
#pav-mainnav .dropdown-menu ul li.parent:hover > .dropdown-menu {
  left: auto;
  right: 100%;
}
/* line 156, stylesheet-rtl.less */
#pav-verticalmenu .navbar-nav > li:hover > .dropdown-menu {
  left: auto;
  right: 100%;
}
/* line 161, stylesheet-rtl.less */
#pav-verticalmenu .navbar-nav > li.parent:hover .dropdown-menu {
  left: auto;
  right: 100%;
}
/* line 165, stylesheet-rtl.less */
#pav-verticalmenu .navbar-nav > li.parent:hover > a:after {
  right: inherit;
  left: -5px;
}
/* line 173, stylesheet-rtl.less */
#pav-verticalmenu .menu-icon {
  background-position: top right !important;
}
/* line 175, stylesheet-rtl.less */
#pav-verticalmenu .menu-icon span {
  margin-left: 0!important;
  margin-right: 35px;
  text-align: right;
}
/* line 180, stylesheet-rtl.less */
#pav-verticalmenu .menu-icon .caret {
  border-color: transparent #999999 transparent!important;
  border-style: solid solid solid none !important;
  border-width: 5px 5px 5px 0 !important;
  height: 0;
  left: 18px !important;
  right: auto;
  width: 0;
}
/* line 192, stylesheet-rtl.less */
#pav-verticalmenu .navbar-nav > li:hover > a .menu-icon {
  background-position: top right !important;
}
/* line 195, stylesheet-rtl.less */
#pav-verticalmenu .navbar-nav > li:hover .caret {
  border-color: transparent #7bbd42 transparent !important;
}
/* line 201, stylesheet-rtl.less */
.btn-shop-now img {
  float: right;
}
/* line 205, stylesheet-rtl.less */
.btn-group .dropdown-menu {
  right: auto;
  left: 0;
}
/* line 210, stylesheet-rtl.less */
.shapes.right {
  left: auto;
  right: 0;
  border-left: 0px solid #EEEEEE;
  border-right: 5px solid #EEEEEE;
}
/* line 216, stylesheet-rtl.less */
.shapes.round {
  right: inherit;
  left: 20px;
}
/* line 220, stylesheet-rtl.less */
.product-block {
  text-align: right;
}
/* line 222, stylesheet-rtl.less */
.product-block .product-icon {
  margin-left: 0;
  padding-left: 0;
  padding-right: 3px;
}
/* line 227, stylesheet-rtl.less */
.product-block .pav-colorbox span {
  margin-left: 0;
  margin-right: 6px;
}
/* line 232, stylesheet-rtl.less */
.product-block .action > * {
  float: right;
}
/* line 235, stylesheet-rtl.less */
.product-block .action .button-group .compare {
  margin: 0 5px;
}
/* line 240, stylesheet-rtl.less */
.product-cols {
  border-left: 1px solid #e9e9e9;
  border-right: 0;
}
/* line 245, stylesheet-rtl.less */
.product-filter .display {
  float: right;
}
/* line 248, stylesheet-rtl.less */
.product-filter .limit,
.product-filter .sort {
  margin-left: 5px;
}
/* line 252, stylesheet-rtl.less */
.product-label.product-label-special {
  left: auto;
  right: 15px;
  border-right: none;
  border-left: 25px solid transparent;
}
/* line 258, stylesheet-rtl.less */
.product-info .action > div {
  float: right;
}
/* line 261, stylesheet-rtl.less */
#footer .box .box-heading .fa,
#footer .footer-center span.fa,
#footer .footer-center ul li a .fa,
#footer .footer-center ol li a .fa {
  margin-right: 0;
  margin-left: 13px;
}
/* line 265, stylesheet-rtl.less */
#footer .footer-link ul li:before,
#footer .footer-link ol li:before {
  right: 0;
  left: auto;
}
/* line 270, stylesheet-rtl.less */
#powered .copyright {
  text-align: right;
}
/* line 274, stylesheet-rtl.less */
.navbar-header {
  float: right;
}
/* line 277, stylesheet-rtl.less */
#pav-mainnav .dropdown:hover > .dropdown-menu {
  left: auto;
  right: 0;
}
/* line 281, stylesheet-rtl.less */
.pav-megamenu .navbar-nav > li.aligned-center .dropdown-menu {
  left: 50% !important;
  right: auto !important;
  transform: translate(-50%);
}
/* line 286, stylesheet-rtl.less */
.navbar-nav > li,
.nav-tabs > li {
  float: right;
}
/* line 289, stylesheet-rtl.less */
.nav-tabs > li > a {
  margin-right: 0;
}
/* line 293, stylesheet-rtl.less */
#pav-verticalmenu .navbar-nav > li > a .caret {
  right: auto;
  left: 0;
  height: 0px;
  width: 0px;
  border-right: 0;
  border-top: 5px solid transparent;
  border-left: 5px solid #999999;
  border-bottom: 5px solid transparent;
}
/* line 305, stylesheet-rtl.less */
.image-v1 .col-lg-5 {
  padding-left: 0;
  padding-right: 9px;
}
/* line 309, stylesheet-rtl.less */
.image-v1 .col-lg-7 {
  padding-left: 9px;
  padding-right: 0;
}
/* line 316, stylesheet-rtl.less */
.carousel-controls {
  right: inherit;
  left: 20px;
}
/* line 320, stylesheet-rtl.less */
.zoomWindow {
  left: auto;
  right: 460px !important;
}
/* line 324, stylesheet-rtl.less */
.product-list .image {
  float: right;
  margin: 0 0 0 20px;
}
/* line 329, stylesheet-rtl.less */
.product-info .product-extra .add-action {
  border-right: 0;
  border-left: 1px solid #e9e9e9;
}
/* line 333, stylesheet-rtl.less */
.product-info .description .fa {
  float: right;
}
/* line 336, stylesheet-rtl.less */
.product-info .addthis_default_style .addthis_separator,
.product-info .addthis_default_style .at300b,
.product-info .addthis_default_style .at300bo,
.product-info .addthis_default_style .at300m,
.product-info .addthis_default_style .at300bs {
  float: right;
}
/* line 343, stylesheet-rtl.less */
.product-info .carousel-inner a:first-child {
  margin: 0;
}
/* line 346, stylesheet-rtl.less */
.product-info .carousel-inner a:last-child {
  margin-right: 15px;
}
/* line 350, stylesheet-rtl.less */
.productdeals .deal_detail {
  text-align: right!important;
}
/* line 353, stylesheet-rtl.less */
.tabs-group .tab-content {
  border-left: none;
  border-right: 1px solid #e9e9e9;
  margin-left: 0;
  margin-right: -1px;
}
/* line 359, stylesheet-rtl.less */
.tabs-group .htabs {
  border-left: 1px solid #e9e9e9;
  border-right: none;
}
/* line 363, stylesheet-rtl.less */
.htabs ul li a.selected {
  box-shadow: 2px 0 0 0 #7bbd42 inset;
  margin-left: 0;
}
/* line 367, stylesheet-rtl.less */
.htabs ul li a:hover {
  border-right: none;
  border-left: 2px solid #7bbd42;
}
/* line 371, stylesheet-rtl.less */
#customize-body input[type="text"],
#customize-body select {
  margin: 0 0px 0 5px !important;
}
/* line 374, stylesheet-rtl.less */
.btn.btn-shopping-cart > * {
  float: right;
}
/* line 377, stylesheet-rtl.less */
.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  float: right!important;
  margin-left: 20px;
}
/* line 384, stylesheet-rtl.less */
.category .box-category li .icon {
  left: 5px;
  right: auto;
}
/* line 388, stylesheet-rtl.less */
#search .input-search {
  border-width: 1px;
}
/* line 391, stylesheet-rtl.less */
.media > .pull-left {
  margin-right: 0;
  margin-left: 10px;
}
/* line 395, stylesheet-rtl.less */
.blog-meta > span i {
  margin: 0 0 0 5px !important;
}
/* line 401, stylesheet-rtl.less */
#sidebar-right .box ul > li a,
#sidebar-left .box ul > li a,
#sidebar-right .box ol > li a,
#sidebar-left .box ol > li a {
  padding: 12px 20px 12px 0px;
}
/* line 407, stylesheet-rtl.less */
#sidebar-right .product-block .image,
#sidebar-left .product-block .image {
  float: right;
}
/* line 413, stylesheet-rtl.less */
.social {
  padding: 0;
}
/* line 415, stylesheet-rtl.less */
.social li {
  padding: 0;
}
/* line 418, stylesheet-rtl.less */
.social a {
  padding-right: 12px;
}
/* line 422, stylesheet-rtl.less */
.blog-header .created {
  left: inherit!important;
  right: 8px;
}
/* line 426, stylesheet-rtl.less */
.blog-meta > span {
  float: right!important;
}
/* line 431, stylesheet-rtl.less */
.head > a {
  float: left!important;
  padding-left: 10px!important;
  padding-right: 0!important;
}
/* line 436, stylesheet-rtl.less */
.blog-social .social-wrap > div {
  float: right!important;
}
/* line 439, stylesheet-rtl.less */
.blog-social .social-heading {
  padding-right: 0px !important;
  padding-left: 12px!important;
}
/* line 445, stylesheet-rtl.less */
.blog-social .itemGooglePlusOneButton > div {
  width: 90px!important;
}
/* line 447, stylesheet-rtl.less */
.blog-social .itemGooglePlusOneButton > div > iframe {
  width: 90px!important;
}
/* line 453, stylesheet-rtl.less */
div[class*="pavcol"] {
  float: right!important;
}
/*for deal*/
/* line 457, stylesheet-rtl.less */
.item-countdown {
  float: right;
}
/* line 465, stylesheet-rtl.less */
.box-module-pavreassurances .column:first-child {
  border-right: none;
}
/* line 468, stylesheet-rtl.less */
.box-module-pavreassurances .column:last-child {
  border-right: 1px solid #e9e9e9;
}
/* line 471, stylesheet-rtl.less */
.box-module-pavreassurances .column .icon-name {
  margin-right: 0;
  margin-left: 10px;
}
/* line 476, stylesheet-rtl.less */
.box-module-pavreassurances .arrow {
  left: 10px;
  right: auto;
}
/* line 482, stylesheet-rtl.less */
.zoomWindowContainer {
  position: absolute;
  right: 10px !important;
}
/* line 490, stylesheet-rtl.less */
.newsletter_block .box-heading {
  margin-right: 0;
  margin-right: 20px;
}
/* line 494, stylesheet-rtl.less */
.newsletter_block .input-group .form-control:first-child {
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  text-align: left;
}
/* line 503, stylesheet-rtl.less */
.newsletter_block .button_mini {
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  margin-left: 0;
  margin-right: -5px;
}
/* line 513, stylesheet-rtl.less */
.newsletter_block .valid {
  margin-left: 1%;
}
/* line 517, stylesheet-rtl.less */
.sitemap-info ul > li > ul {
  margin-right: 24px;
}
/* line 520, stylesheet-rtl.less */
.scrollup {
  right: inherit;
  left: 10px;
}
/* line 524, stylesheet-rtl.less */
.offcanvas-menu {
  left: inherit;
  right: 0;
}
/* line 528, stylesheet-rtl.less */
.offcanvas-effect-5.offcanvas-menu-open .offcanvas-pusher {
  transform: translate3d(-300px, 0px, 0px);
}
/* line 531, stylesheet-rtl.less */
.offcanvas-effect-5.offcanvas-menu {
  transform: translate3d(100%, 0px, 0px);
}
/* line 534, stylesheet-rtl.less */
.offcanvas-effect-3.offcanvas-menu-open .offcanvas-pusher {
  transform: translate3d(-300px, 0px, 0px);
}
/* line 537, stylesheet-rtl.less */
.offcanvas-effect-3.offcanvas-menu {
  transform: translate3d(100%, 0px, 0px);
}
@media (max-width: 767px) {
  /* line 4, theme-responsive-rtl.less */
  .product-filter .display span,
  .product-filter .display a {
    float: right;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /* line 11, theme-responsive-rtl.less */
  #topbar .show-mobile {
    text-align: left;
  }
  /* line 14, theme-responsive-rtl.less */
  #topbar .show-mobile .inner-toggle {
    right: 0;
    left: auto;
    text-align: right;
  }
  /* line 18, theme-responsive-rtl.less */
  #topbar .show-mobile .inner-toggle li {
    margin-right: 20px;
    margin-left: 0;
  }
}
@media (min-width: 768px) {
  /* line 25, theme-responsive-rtl.less */
  .comment-item > img {
    float: right;
    padding-left: 12px;
    padding-right: 0 !important;
  }
}
@media (max-width: 991px) {
  /* line 32, theme-responsive-rtl.less */
  .show-mobile {
    display: inline-block !important;
    margin-right: 60px;
    margin-left: 0!important;
  }
}
@media (max-width: 767px) {
  /* line 41, theme-responsive-rtl.less */
  #header-main #cart .dropdown-menu {
    left: -5px;
  }
  /* line 46, theme-responsive-rtl.less */
  #topbar .show-mobile {
    text-align: left;
  }
  /* line 49, theme-responsive-rtl.less */
  #header-main .inner {
    text-align: center;
  }
  /* line 52, theme-responsive-rtl.less */
  #header-main .inner {
    padding: 0 9px;
  }
  /* line 55, theme-responsive-rtl.less */
  #topbar .show-mobile .inner-toggle {
    right: 0;
    left: auto;
    text-align: right;
  }
  /* line 59, theme-responsive-rtl.less */
  #topbar .show-mobile .inner-toggle li {
    margin-right: 20px;
    margin-left: 0;
  }
  /* line 64, theme-responsive-rtl.less */
  .comment-item > img {
    padding: 0 !important;
  }
}
@media (max-width: 320px) {
  /* line 71, theme-responsive-rtl.less */
  #header-main #cart .dropdown-menu {
    left: -25px;
  }
}
@media (max-width: 480px) {
  /* line 79, theme-responsive-rtl.less */
  .button-close-menu {
    right: inherit;
    left: 0;
  }
  /* line 85, theme-responsive-rtl.less */
  #search #search0 .media-body {
    clear: both;
    text-align: right!important;
    margin-left: 0!important;
    margin-right: 20px;
  }
}
/* line 95, theme-responsive-rtl.less */
.offcanvas-menu {
  left: inherit;
  right: 0;
}
/* line 99, theme-responsive-rtl.less */
.offcanvas-effect-3.offcanvas-menu-open .offcanvas-pusher {
  transform: translate3d(-300px, 0px, 0px);
}
/* line 102, theme-responsive-rtl.less */
.offcanvas-effect-3.offcanvas-menu {
  transform: translate3d(100%, 0px, 0px);
}
